@import 'bootstrap/dist/css/bootstrap.css';
@import 'font-awesome/css/font-awesome.css';

@import './page';
@import './header';
@import './media';

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}