.ListPosts {
  &-item {
    background-color: #ecf0f1;
    padding: 15px;
    margin-bottom: 5px;
  }

  &-title {
    text-transform: capitalize;
  }

  &-abstract {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.PostArticle {
  &-title {
    text-transform: uppercase;
  }

  &-content {
    font-size: larger;
  }
}